<div class="list-group panelRegister">

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1"><strong>Formulario de Registro</strong></h3>
        </div>
    </a>

    <form class="formulario">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo Electronico" id="inputDefault">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Contraseña" id="inputDefault">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
    </form>
</div>