<div class="list-group panelRegister">

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1"><strong>Formulario de Registro</strong></h3>
        </div>
    </a>

    <form class="formulario">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo Electronico" id="inputDefault">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Contraseña" id="inputDefault">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Institucion Educativa" id="inputDefault">
        </div>
        <div class="form-group">
            <select class="custom-select">
                <option selected="">Número de cortes</option>
                <option value="1">uno</option>
                <option value="2">dos</option>
                <option value="3">tres</option>
                <option value="4">cuatro</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>