<div class="list-group paneLogin">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1"><strong>Inicio de Sesion</strong></h3>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="form-group has-success">
      <input type="email" placeholder="Correo Electronico" class="form-control is-valid" id="email">
    </div>
    <div class="form-group has-success">
      <input type="password" placeholder="Contraseña" class="form-control is-valid" id="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </a>
</div>
